#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
h1{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.nav {
  text-align: center;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 0px;
}
.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}
.nav li a:hover {
  background-color: grey;
}
.active {
  background-color: blue;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

#greeting-container {
  margin-top: 20px;
}
